body {
    background-image: url(../images/Warehouse-Background.jpg);
    background-repeat: no-repeat;
    background-color: #222222;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Molle", cursive;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-family: "Copperplate", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
} 
p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.li-nav-bar {
    display: inline;
    text-align: center;
    padding: 14px 16px;
}

li {
    font-size: 40px;
}

/* -------- Header Section, Buttons, Navigation -------- */

a:link {
    text-decoration: none;
    color: white;
}
a:visited {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: none;
    color: white;
}
a:active {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.header-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu-button {
    background-color: rgba(0,0,0,0);
    border: none;
    color: white;
    padding-left: 20px;
    padding-right: 40px;
    border-radius: 150px;
    font-size: 35px;
}

button:hover {
    background-color: #9e2a25;
    border: none;
    color: white;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 150px;
    font-size: 35px;   
}

.bubble-btn {
    background-color: #2222;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 20px 40px;
    font-size: 35px;
    position: relative;
    transition: transform 0.3s;
  }
  
  .bubble-btn:hover {
    animation: bubble 0.4s ease-out;
  }
  
  @keyframes bubble {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

.menu-button-active {
    background-color: #54AD55;
    border: none;
    color: white;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 150px;
    font-size: 35px;
}

.games-container {
    display: grid;
    align-self: center;
    width: 75%;
    margin: auto;
}

/* -------- Games: Accordian Menu NEED TO TROUBLESHOOT/DEBUG WHY THE FUNCTIONALITY IS BROKEN :( -------- */

/* the + indicator on the accordion dd menu */
.plus_minus {
    float: right;
  }

/* Accordion menu collapse */
.toggleContainer {
  padding: 15px;
  display: none;
  transition: all;
}

html{
    box-sizing:border-box
  }
  
/* enables the actions for opening and closing */
.active {
    display: block;
  }

/* removes bullet from unordered list */
.w3-ul{
  list-style-type:none;
  padding:0;
  margin:0
}

/* adds padding and a bottom line to separate each row */
.w3-ul, w3-li {
  padding:8px 16px;
  border-bottom:1px solid #ddd
}

/* constrains the accordian menu's max width */
.acrd-max-width {
  max-width:980px;
  margin:auto
}

/* Removes formatting for black background at larger width */
@media (max-width:992px){
    .w3-main{
        margin-left:0!important;
        margin-right:0!important
    }
}

/* padding for the text in the lists for each menu */
.acrd-list-padding {
  padding:8px 16px!important
}

/* padding-top and bottom for the accordian menu that sits inside the background div */
.acrd-padding {
  padding-top:64px!important;
  padding-bottom:64px!important
}

/* Accordian Menu Background Color */
.acrd-bkgd-color {
  color:#000!important;
  background-color:#fff!important
}

/* Accordian Container Background Color */
.container-bkgd {
  color: black!important;
  background-color:#000!important;
  border-radius: 20px;
}

/* Accordian Menu Text Color */
.menu-text-color {
  color:#757575!important
}

 /* -------- Footer Section -------- */

 .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer-text {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    height: 100px;
    column-gap: 40px;
    background-color: #000000;
    padding-left: 20px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    height: 100px;
    background-image: linear-gradient(to right, #000000, #946734);
    padding-left: 20px;
    padding-right: 20px;
}

/* ------ Added from 19.3 w3.css -------

.w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before, .w3-cell-row:before,.w3-cell-row:after,.w3-clear:after,.w3-clear:before,.w3-bar:before,.w3-bar:after{
    content:"";
    display:table;
    clear:both
}
.w3-padding-64{
    padding-top:64px!important;
    padding-bottom:64px!important
}

.w3-center{
    text-align:center!important
}

.w3-center .w3-bar{
    display:inline-block;
    width:auto
}

.w3-opacity,.w3-hover-opacity:hover{
    opacity:0.60
}

.w3-light-grey,.w3-hover-light-grey:hover,.w3-light-gray,.w3-hover-light-gray:hover{
    color:#000!important;
    background-color:#f1f1f1!important
}

.w3-xlarge{
    font-size:24px!important
}

.w3-medium{
    font-size:15px!important
}
------ Added from 19.3 w3.css ------- */


/* -------- Media Query for tablet -------- */


@media screen and (max-width: 1464px) {
    .footer-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 90px;
        background-image: linear-gradient(to right, #000000, #946734);
    }
    
    .sm-icons {
        img {
            width: 50px;
            height: 50px;
        }
    }

    .footer {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .footer-text {     /* canNOT figure out how to center this stupid text */
        width: 50%;
        height: 90px;
        background-color: #000000; 
    }

    .footer-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 90px;
        background-image: linear-gradient (to right, #000000, #946734);
    }
}



/* -------- Media Query for mobile -------- */

@media screen and (max-width: 767px) {
    body {
        background-size: auto;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 18px;
    }
    .sm-logo {
        img {
            width: 60px;
            height: 60px;
        }
    } 

 /* -------- MEDIA QUERY for Header/Nav Bar Section -------- */ 

    .header-bar {
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    }

    .menu-button {
        background-color: rgba(0,0,0,.5);
        border: none;
        color: white;
        width: 90%;
        padding-top: 15px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 150px;
        font-size: 25px;
        margin: 0 auto;
    }

    button:hover {
        background-color: #9e2a25;
        border: none;
        color: white;
        padding-top: 15px;
        padding-bottom: 20px;
        padding-left: 40px;
        padding-right: 40px;
        border-radius: 150px;
        font-size: 25px;   
    }

    .menu-button-active {
        background-color: #54AD55;
        border: none;
        color: white;
        width: 90%;
        padding-top: 15px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 150px;
        font-size: 25px;
    }

    li {
        text-align: center;
    }

    .bubble-btn {
        background-color: #2222;
        color: white;
        border: none;
        border-radius: 50px;
        padding: 20px 40px;
        font-size: 25px;
        position: relative;
        transition: transform 0.3s;
    }
      
    .bubble-btn:hover {
        animation: bubble 0.4s ease-out;
    }
      
    @keyframes bubble {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1);
        }
        100% {
          transform: scale(1);
        }
    }

/* --------MEDIA QUERY for Accordion Section -------- */

/* constrains the accordian menu's max width */
    .acrd-max-width {
    max-width:980px;
    margin:auto
    }
    
    li {
    font-size: 25px;
    text-align: left;
    }

 /* -------- MEDIA QUERY for Story Section -------- */ 

    .games-container {
        width: 90%;
    }

    .games {
        display: inline-block;
        width: 100%;
        border-style: solid;
        border-color: #946734;
        background-color: black;
        border-radius: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 40px;
    }

/* -------- MEDIA QUERY for Footer Section -------- */ 

    .footer {
        display: block;
    }

    .footer-text {     /* canNOT figure out how to center this stupid text */
        display: block;
        width: 100%;
        height: auto;
        text-align: center;
        background-color: #000000; 
    }

    .footer-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 90px;
        background-image: linear-gradient(to right, #000000, #946734);
    }
    .icons-sm {
        img {
            height: 50px;
            width: auto;
        }
    }    
}
