@import url('https://fonts.googleapis.com/css2?family=Molle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');


/* -- Begin Tag Section -- */


body {
    background-image: url(../images/Warehouse-Background.jpg);
    background-repeat: no-repeat;
    background-color: #222222;
    background-attachment: fixed;
}
h1 {
    color: #E0C49B;
    Font-family: molle, cursive;
    font-size: 75px;
}
h3 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
    float: left;
    text-align: center;
    padding: 14px 16px;
}
button {
    text-decoration: none;
    display: block;
    background-color: rgba(0,0,0,0);
    border: none;
    color: white;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 150px;
    font-size: 35px;
}

/* -- Begin Header Section -- */

.navigation {
    display: inline-block;
}
.inline-block {
    display: inline-block;
    vertical-align: top;
}
.logo {
    vertical-align: top;
}

/* found reference for removing links from buttons at https://www.w3schools.com/css/css_link.asp  */

a:link {
    text-decoration: none;
    color: white;
}
a:visited {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: none;
/* -- color: #9E2A25; --*/
}
a:active {
    text-decoration: none;
    color: white;
}
.button-about {
    background-color: #54AD55;
    border: none;
    color: white;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 150px;
    font-size: 35px;
    font-weight: bold;
}

/* -- Begin Story Card -- */

.story {
    font-size: 30px;
}
.story-container {
    width: 1528px;
    margin: auto;
}
.story-background {
    display: inline-block;
/* I need to know how to center these stupid elements withour flex/grid */    
}
.story {
    height: 611px;
    width: 1150px;
    border-style: solid;
    border-color: #946734;
    background-color: black;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 95px;
    padding-right: 95px;
    font-size: 40px;
}

 /* The Meet The Team "Gallery" Section */

 .team-gallery-container {
    width: 1528px;
    margin:auto;

}
 .team-gallery-background {
    display: inline-block;
    width: 1300px;
    height: auto;
    background-color: rgba(0,0,0,.6);
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
 }
 .team-gallery-frame {
    width: 1152px;
    margin: auto;
 }
 .team-member {
    background-color: rgba(0,0,0,.1);
    border-radius: 20px;
 }
 .team-member-desc {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    background-color: black;
    color: #E0C49B;
 }

  /* Testimonials Section */

.testimonials-container {
    width: 1528px;
    margin: auto;
 }
 
 .testimonials-background {
    background-color: black;
    border-radius: 20px;
    width: 1300px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
 }
 .testimonials-frame {
    width: 1152px;
    margin: auto;
 }    
 .patron {
    font-size: 20px;
    font-family: copperplate;
 }

 /* Footer Section */

.footer-container {
    height: 65px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer-background {
    float: left;
    width: 1000px;
    background-image: linear-gradient(to right, #000000, #946734);
}
.footer-text {
    float: left;
    height: 65px;
    width: 500px;
    padding-left: 40px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #000000;
}
.footer-icons {
    float: left;
}
